* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
}

body {
  background: #d6f4ff;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: #111;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  text-transform: capitalize;
}
input {
  margin-bottom: 1.5rem;
  padding-left: 0.5rem;
  font-size: 1.1rem;
  height: 3rem;
  width: 15rem;
}
.recipelist {
  width: 90vw;
  max-width: 1170px;
  margin: 1rem auto;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 967px) {
  .recipelist {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 966px) {
  .recipelist {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 671px) {
  .recipelist {
    grid-template-columns: repeat(1, 1fr);
  }
}
.recipe {
  background: #54ecc4;
  border-radius: 1rem;
  /* padding: 1rem; */
  text-align: center;
  border: 1.3px #000 solid;
}
.recipe a {
  text-decoration: none;
}
.recipe h3 {
  color: #444;
  margin-bottom: 0.2rem;
  background: #ffffff;
  text-transform: uppercase;
  border-radius: 1rem;
  font-weight: 400;
  letter-spacing: 0.03rem;
  line-height: normal;
  /* font-size: 0.95rem; */
  border: 1.4px solid #000;
}
.recipe img {
  width: 100%;
  /* object-fit: fill; */
  border-radius: 1rem;
  /* object-fit: cover; */
  border: 2px solid #000;
}
