* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #d6f4ff;
}
h1 {
  text-align: center;
  margin-top: 4rem;
  text-transform: capitalize;
}
.recipelist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .recipelist {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 766px) {
  .recipelist {
    grid-template-columns: repeat(2, 1fr);
  }
}
.recipe {
  background: #54ecc4;
  border-radius: 1rem;
  padding: 0.5rem;
  text-align: center;
}
.recipe h3 {
  color: #fff;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  width: 16rem;
  height: 1.5rem;
  background: #000;
  text-transform: capitalize;
  border-radius: 1rem;
}
.recipe img {
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}
